# ===== IntelliJ IDEA =====
.idea/
*.iml
out/
build/

# IntelliJ default ignored files
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# ===== Java =====
*.class
*.jar
*.war
*.ear
hs_err_pid*

# ===== MacOS =====
.DS_Store

# ===== Logs =====
*.log
